.project-sections-section,
.project-sections-section-head{
    overflow: hidden;
    vertical-align: middle;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.delete-section-link{
    text-align: right;
    width: 100%;
}

.project-sections-section-head{
    font-weight: bold;
}

.project-sections-subsection-name,
.project-sections-head-name{
    float:left;
    width: 40%;
}

.project-sections-subsection-measurment,
.project-sections-head-measurment{
    float:left;
    width: 20%;
}

.project-sections-subsection-price,
.project-sections-head-price{
    float:left;
    width: 20%;
}

.project-sections-subsection-count,
.project-sections-head-count{
    float:right;
    width: 20%;
}

/* project foto fields */
.main-facade-foto-house-project{
    width: 100%;
}

.minor-facade-foto-house-project.foto-1{
    padding-left: 0;
}

.minor-facade-foto-house-project.foto-2{
    padding-right: 0;
}

.plans-field-items-one-item .plans-foto-house-project{
    width: 99.5%!important;
}

.minor-facade-foto-house-project,
.plans-foto-house-project{
    width: 49.5%;
    float: left;
    padding: 0.5%;
}

.main-facade-foto-house-project img,
.minor-facade-foto-house-project img{
    width: 100%;
    height: auto;
}
.plans-foto-house-project img{
    width: 100%;
    height: auto;
}

.plans-field-items,
.facade-field-items{
    overflow: hidden;
    float: left;
    width:100%;
}

.plans-field-items .field-item{
    float: left;
    overflow: hidden;
    width: 45%;
}

.plans-field-items-one-item .field-item{
    margin: 0 auto;
    float:none;
    width: 99%;
}

/*project parameters table */
.project-parameters-table{
    width:100%;
    border: 1px solid black;
}

.project-parameters-table caption{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.project-parameters-table tr th{
    color: black;
    border: 1px solid black;
    text-align: center;
    background: none!important;
    background-color: white!important;
    background-image: none;
}

.project-parameters-table tr.odd,
.project-parameters-table tr.even{
    background: none;
    border: 1px solid black;
}

.project-parameters-table tr .td-name,
.project-parameters-table tr .td-measurment{
    text-align: left;
}

.project-parameters-table tr .td-number,
.project-parameters-table tr .td-price,
.project-parameters-table tr .td-amount,
.project-parameters-table tr .td-count{
    text-align: right;
}

.project-parameters-table tr .td-amount{
    width: 150px;
}

.project-parameters-table tr td{
    border: 1px solid black;
}

.project-table-all-total-tr td,
.project-table-total-tr td{
    font-weight: bold;
}

.project-table-all-total-tr td,
.project-table-final-price-tr td,
.project-table-discount-tr td,
.project-table-total-overhead-tr td,
.project-table-overhead-tr td{
    font-size: 18px;
    font-weight: bold;
}

.project-table-discount-tr td{
    color:red;
}

.project-table-all-total-tr td:first-child{
    text-decoration: underline;
    font-size: 22px;
}

.project-table-term-tr td{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.price-generated{
    width: 100%;
}

.field-item-project_short_description-additional{
    background-color: yellow;
}

td.field-item-build_time{
    font-weight: bold;
    text-align:right;
    font-size: 18px;
}

.field-build_time-table-wrapper{
    float:right;
    text-align: right;
}
.field-build_time-table tr{
    background: none!important;
}
.field-build_time-table tbody{
    border-top:0;
}