ul.taxonomyreference-dragdrop {
  list-style-type: none;
  float: left;
  background: #eee;
  width: 300px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin-left: 0!important;
}

ul.taxonomyreference-dragdrop li {
  padding: 5px;
  margin-top:4px;
  margin-bottom:4px;
  font-size: 1.2em;
  width: 270px;
  background: white;
  cursor: move;
  border: 1px solid lightgray;
}

.taxonomyreference-dragdrop-clear {
  clear:both;
}

.taxonomyreference-dragdrop-table{
    width:auto;
}